In [1]:
names = ['Ann', 'Bob', 'Cal', 'Dee', 'Eve', 'Flo', 'Hal', 'Ike']

In [13]:
 squares = [x**2 for x in range(10)]

In [14]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
 squares = [x**2 for x in range(10) if x> 5]

In [8]:
squares

[36, 49, 64, 81]

In [9]:
 [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [10]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [15]:
raise Exception

Exception:

In [26]:
n=6
res=[]
for i in range (1, n+1):
    if n % i == 0:
        res.append(i)
        
print(res)

[1, 2, 3, 6]

In [47]:
for i in range (8):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
6 5
7 0
7 1
7 2
7 3
7 4
7 5
7 6

In [ ]:

def cities():
    lst = []
    
    city = input('Enter city: ')

    while city != '':
        lst.append(city)
        city = input('Enter city: ')

    return lst

In [48]:
employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']}

In [51]:
employee["987-65"]

['Vlad', 'Tundyan']

In [52]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': ['Arm', 'Spartyan'],
 '987-65': ['Vlad', 'Tundyan']}

In [53]:
d={}

In [54]:
type(d)

dict

In [55]:
d["key"]="value"

In [56]:
d

{'key': 'value'}

In [57]:
class example:
    pass

In [60]:
s=example()

In [62]:
type(s)

__main__.example

In [65]:
days = {'Mo':1, 'Tu':2, 'W':3}

In [66]:
days

{'Mo': 1, 'Tu': 2, 'W': 3}

In [67]:
days2 = {'Tu':2, 'Fr':5}

In [69]:
days.values()

dict_values([1, 2, 3])

In [74]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [85]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] =1
        else: # create item counter
            counters[item] =1
    return counters

grades = ["to","do","be","not"]
frequency(grades)

{'be': 1, 'do': 1, 'not': 1, 'to': 1}

In [86]:
t = [('a', 10), ('c', 22), ('b', 1)]

In [88]:
type(t)

list

In [98]:
x={1,89,5,89,5,96}

In [99]:
x

{1, 5, 89, 96}

In [96]:
x=set()

In [100]:
x

{1, 5, 89, 96}

4